{% extends 'base.html' %}
{% import 'macros.html' as macro %}

 {% block styles%} 
 {{super() }}
<link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}" />
{% endblock %}

{% block content %}
    <a href="/" 
    class="alert-link"
    style="margin-left: 2rem;"
    >Home</a>
    <hr class="my-3">
    <div class="container" style="margin-top: 20px;  ">
        <div class="row box-container">
            {{macro.displayNews(headlines)}}
        </div>
    </div>
{% endblock %}